{{ define "jira.summary" }}
{{ .GroupLabels.SortedPairs.Values | join " - " }} {{ end }}

{{ define "jira.description" }}{{ range .Alerts.Firing }}
Started at: {{.StartsAt}}
Labels:
{{ range .Labels.SortedPairs }} - {{ .Name }} = {{ .Value }}
{{ end }}
Annotations:
{{ range .Annotations.SortedPairs }} - {{ .Name }} = {{ .Value }}
{{ end }}
Source: {{ .GeneratorURL }}
{{ end }}{{ end }}